.header-wrap{
    width: 100%;

&-text{
    margin-left: 10px;
    color: #000;
    text-align: right;
    font-family: Heebo;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
}