.narbar-wrap{
  padding:32px;
}
.icon {
  /* 可以设置宽高、背景大小等 */
  width: 100%;
  height: 100%;
}
.icon-sort{
  background-image: url('../../image/svg/sort.svg');
  width: 16px;
  height: 12px;
}
.icon-location{
  background-image: url('../../image/svg/sort.svg');
  width: 16px;
  height: 12px;
}